@using System.Web;

@{
    ViewData["Title"] = "Negocio";
}

@section estilos {
    @*<link href="@Url.Content("~/template/main/css/pages/floating-label.css")" rel="stylesheet" />*@
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables/media/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/media/css/select.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />*@
    <link rel="stylesheet" href="~/lib/jquery-modal/jquery.modal.min.css" />

    <style>
        .dataTables_wrapper .dataTables_processing {
            background: none;
        }

        .dt-body-right {
            padding-right: 5px;
            text-align: right;
        }

        div.dataTables_info {
            margin-bottom: 20px;
        }

        .dt-center {
            text-align: center;
        }

        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        .modal a.close-modal {
            top: 4.5px;
            right: 2.5px;
        }
    </style>
}

@*Titulo*@
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Negocio</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Negocio</a></li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </div>
</div>

@*Botones y filtro*@
<div class="row">
    <div class="col-md-12">
        <div class="card" id="frmWrapper">
            <div class="card-body" style="margin-bottom: -25px;">

                <button id="btnRecargar" type="button" class="btn btn-primary btn-sm m-b-5">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Recargar
                </button>
                <button id="btnNuevo" type="button" class="btn btn-success btn-sm m-b-5" onclick="location.href='@Url.Action("Create", "Negocio")'">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                </button>
                <button id="btnMostrarUbicaciones" type="button" class="btn btn-dark btn-sm m-b-5">
                    <i class="fa fa-street-view" aria-hidden="true"></i> Ubicaciones del Negocio Seleccionado
                </button>
                @*<button id="btnNuevaUbicacion" type="button" class="btn btn-dark btn-sm m-b-5">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Nueva Ubicación
                    </button>*@

                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            <label>Buscar</label>
                            <input type="text" id="txtBuscar" class="form-control form-control-sm form-control-line">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="form-group">
                            <label>Estado</label>
                            <select id="cboEstado" class="form-control form-control-line select2" style="width: 100%"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tb1" class="table table-hover">
                        <thead style="background-color: #1976d2; color:#fff;">
                            <tr>
                                <th style="width:30px !important; border-radius: 5px 0px 0px 0px;">
                                    N°
                                </th>
                                <th style="display: none;">
                                    IdNegocio
                                </th>
                                <th>
                                    T.Doc.
                                </th>
                                <th>
                                    N°Doc.
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th style="text-align:center;">
                                    Ubicaciones
                                </th>
                                <th style="text-align:center;">
                                    Correo
                                </th>
                                <th style="text-align:center;">
                                    Registro
                                </th>
                                <th style="text-align:center; width:125px !important; border-radius: 0px 5px 0px 0px;">
                                    @HttpUtility.HtmlDecode("Acción")
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ubicaciones Por Negocio</h5>
                <div class="table-responsive">
                    <table id="tb2" class="table table-hover">
                        <thead style="background-color: #1976d2; color:#fff;">
                            <tr>
                                <th style="width:30px !important; border-radius: 5px 0px 0px 0px;">
                                    N°
                                </th>
                                <th style="display: none;">
                                    IdNegocioUbicacion
                                </th>
                                <th>
                                    Titulo
                                </th>
                                <th style="display: none;">
                                    Latitud
                                </th>
                                <th style="display: none;">
                                    Longitud
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th style="text-align:center; width:125px !important;">
                                    Predeterminado
                                </th>
                                <th style="text-align:center; width:125px !important; border-radius: 0px 5px 0px 0px;">
                                    @HttpUtility.HtmlDecode("Acción")
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal*@
<div class="row" margin-bottom:-65px;">
    <div class="col-md-12">
        <div class="card modal m-t-60" style="border-radius: 0.25rem!important; max-width:650px; max-height: 460px; padding-top: 30px;" id="sticky">
            <div class="row">
                <div class="col-md-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/datatables/media/js/dataTables.select.min.js"></script>
    <script src="~/lib/datatables/media/js/select.bootstrap4.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2-9.js" type="text/javascript"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>*@
    <script src="~/lib/jquery-modal/jquery.modal.min.js"></script>

    <script src="~/js/Maestro/Negocio.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=">
    </script>
    @*<script async defer
                src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
        </script>*@
}