@model Entidad.Dto.Seguridad.UsuarioRegistrarDto
@using System.Web;

@{
    ViewData["Title"] = "Create";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Registro de Usuarios</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Usuario")">Cliente</a></li>
            <li class="breadcrumb-item active">Nuevo</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label"></label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contrasenia" class="control-label"></label>
                                <input asp-for="Contrasenia" class="form-control" />
                                <span asp-validation-for="Contrasenia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApellidoPaterno" class="control-label"></label>
                                <input asp-for="ApellidoPaterno" class="form-control" />
                                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ApellidoMaterno" class="control-label"></label>
                                <input asp-for="ApellidoMaterno" class="form-control" />
                                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEstado" class="control-label"></label>
                                <input asp-for="IdEstado" class="form-control" />
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Retornar al listado</a>
                </div>

            </div>
        </div>
    </div>
</div>
