@model List<Entidad.Dto.Maestro.CategoriaObtenerPasarelaDto>
@using System.Web;

@{
ViewData["Title"] = "Categorias";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Categorias</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Categoria</a></li>
            <li class="breadcrumb-item active">Index</li>
        </ol>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/1.jpg">
                        <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/1.jpg" alt="user" style="width:420px;height:250px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-columns el-element-overlay">


                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/1.jpg">
                                    <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/1.jpg" alt="user" style="width:420px;height:250px;" />
                                </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Todos</h3> <small>subtitle of project</small>
                                <br />
                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/2.jpg">
                                    <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/2.jpg" alt="user" style="width:420px;height:250px;" />
                                </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Panaderia</h3> <small>subtitle of project</small>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/3.jpg">
                                    <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/3.jpg" alt="user" style="width:420px;height:250px;" />
                                </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Libreria</h3> <small>subtitle of project</small>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/4.jpg">
                                    <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/4.jpg" alt="user" style="width:420px;height:250px;" />
                                </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Ferreteria</h3> <small>subtitle of project</small>
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/5.jpg">
                                    <img src="https://encuentralo.s3.us-east-2.amazonaws.com/Categoria/5.jpg" alt="user" style="width:420px;height:250px;" />
                                </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Abarrotes</h3> <small>subtitle of project</small>
                                <br />
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

